<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/summary.css">
    <link rel="stylesheet" href="/fontawesome-free-5.15.3-web/CSS/ALL.CSS">
    <style>
        i{
            font-size: 120px;
            color: #7f0000;
        }

        h1{
            margin: 10px 0px 5px 0px;
            color: #7f0000;
        }

        p{
            width: 90%;
            max-width: 300px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <a class="home-link" href="/">Back To Home</a>
        <div class="drop-zone">
            <i class="fas fa-exclamation-triangle"></i>
            <h1>Can't Proccess File!</h1>
            <p>We are having trobule process this file please try another file.</p>
        </div>
    </div>
</body>
</html>