<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Summarizer</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/fontawesome-free-5.15.3-web/CSS/ALL.CSS">
    <script src="/script.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="drop-zone">
            <div class="drop-area">
                <h1>Drop Files Here</h1>
                <form class="send-form" action="/sendpdf" method="POST" enctype="multipart/form-data">
                    <button type="button"><label for="file"><input type="file"  name="pdf" id="file">Insert File</label></button>
                </form>
                <div class="loading">
                    <div class="loader"></div>
                    <p>Reading File..</p>
                </div>
                <div class="fileReady">
                    <i class="fas fa-times"></i>
                    <img src="/file.png" alt="">
                    <p></p>
                </div>
            </div>
            <button class="submitBtn">Start</button>
        </div>
    </div>
</body>
</html>